{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extrahead %}
{% block title %}
J.A.R.V.I.S.
{% endblock title %}
{% block homeactive %} active {% endblock homeactive %}



{% block content %}


{% comment %} 
  <div class="container">
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#">Django</a>
      <a class="p-2 text-muted" href="#">General</a>
      <a class="p-2 text-muted" href="#">Python</a>
      <a class="p-2 text-muted" href="#">Web Development</a>
      <a class="p-2 text-muted" href="#">Culture</a>
      <a class="p-2 text-muted" href="#">Business</a>
      <a class="p-2 text-muted" href="#">Politics</a>
      <a class="p-2 text-muted" href="#">Opinion</a>
      <a class="p-2 text-muted" href="#">Science</a>
      <a class="p-2 text-muted" href="#">Health</a>
      <a class="p-2 text-muted" href="#">Style</a>
      <a class="p-2 text-muted" href="#">Travel</a>
    </nav>
  </div>
  </div> {% endcomment %}


<div class="container heading my-5">
<h2>Welcome to J.A.R.V.I.S.!!</h2>
</div>



<div class="container">
<main role="main" class="container">
  
<img class="center jarvis" src="{% static 'img/jarvis.jpeg' %}" alt="">

{% if user.is_authenticated %}
 <input class="w3-input w3-center w3-border w3-col link l10 tag" id="links" style="cursor:alias" readonly onclick="window.open('https://jarvis-iiitv.herokuapp.com/jarvis','_blank')" value="Click Here">
            <button class="w3-col l2 w3-button w3-gray w3-border link2 tag" type="button" style="cursor:copy"
            onclick="copy()" ><i class="fa fa-copy"></i> Copy</button>
{% endif %}


</main>
    </div>


{% comment %} <div class="footer container-fluid mt-5 ">
<footer class="page-footer blog-footer">
  <i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by <a class="myprofile" href="https://anubhavmadhav.github.io/Anubhav-Madhav/">Anubhav Madhav</a>
  <br>
  <br>
  <p class="copyright"> © 2020 Anubhav Madhav. All Rights Reserved </p>
</footer>
</div> {% endcomment %}
{% endblock content %}