* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(240, 239, 234, 0.253);
}

nav {
    background-color: rgba(39, 38, 38, 0.938)!important;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

.search {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(56, 55, 55, 0.87)!important;
    border: none;
}

.link {
    position: fixed;
    /* or absolute */
    top: 50%;
    left: 43%;
    width: 5%;
}

.link2 {
    position: fixed;
    /* or absolute */
    top: 50%;
    left: 48%;
}

@media (max-width: 991px) {
    .link {
        position: fixed;
        /* or absolute */
        top: 50%;
        left: 34%;
        width: 21%;
    }
    .link2 {
        position: fixed;
        /* or absolute */
        top: 50%;
        left: 55%;
    }
}