@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(240, 239, 234, 0.253);
}

.heading {
    text-align: center;
}

.heading h2 {
    font-size: 70px;
    font-family: 'Source Code Pro', monospace;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

.jumbotron {
    background-color: rgba(39, 38, 38, 0.938)!important;
}

.blog-footer {
    background-color: rgba(240, 239, 234, 0.253);
    padding: 2.5rem 0;
    text-align: center;
    border-top: .05rem solid #e5e5e5;
    text-decoration: none;
    color: black;
}

.blog-footer a {
    color: inherit;
}

.blog-footer a:hover {
    color: inherit;
    font-size: 17px;
}

.about {
    background-color: #f0f0f0!important;
    /* border: 2px solid rgba(184, 184, 184, 0.315);
    border-radius: 16px; */
}

.author-pic {
    border-radius: 50%!important;
    height: 300px;
    left: 150px;
}

.myname {
    position: relative;
    left: 200px;
}

.subscribe-heading {
    font-size: 20px!important;
    font-family: 'Source Code Pro', monospace;
}

footer p {
    font-size: 12px!important;
}

.jarvis {
    position: relative;
    height: 400px;
    width: 100px;
}

.link {
    position: fixed;
    /* or absolute */
    top: 50%;
    left: 43%;
    width: 7%;
}

.link2 {
    position: fixed;
    /* or absolute */
    top: 50%;
    left: 48%;
    visibility: hidden;
}

.tag {
    position: relative;
    top: 20px;
    left: 45%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 34%;
}

@media (max-width: 991px) {
    .author-pic {
        border-radius: 50%!important;
        height: 280px;
        left: -16px;
    }
    .myname {
        position: relative;
        left: 16px;
    }
    .heading h2 {
        font-size: 25px;
        font-family: 'Source Code Pro', monospace;
    }
    .jarvis {
        position: relative;
        height: 700px;
        width: 600px;
    }
    .link {
        position: relative;
        /* or absolute */
        top: 20px;
        left: 41%;
        width: 25%;
        margin-top: 10px;
    }
    .link2 {
        position: fixed;
        /* or absolute */
        top: 50%;
        left: 55%;
        visibility: hidden;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 86%;
    }
    .tag {
        position: relative;
        top: auto;
    }
}